<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.iumium.personnel.appoint.dao.PersonnelAppointmentMapper">
	<!-- 기본임용 리스트 조회 쿼리 -->
	<select id="personnelAppointmentList"
			resultType="com.cafe24.iumium.personnel.appoint.dto.PersonnelAppointment">
		SELECT 
		appointment_school_personnel_number AS appointmentSchoolPersonnelNumber
			, personnel_common_appointment_code AS personnelCommonAppointmentCode
			, haksa_team.team_code AS teamCode
			, haksa_department.dept_code AS deptCode
			, haksa_job_rank.job_rank_code AS jobRankCode
			, haksa_job_type.job_type_code AS jobTypeCode
			, haksa_job_group.job_group_code AS jobGroupCode
			, appointment_appoint_day AS appointmentAppointDay
			, appointment_registration_date AS appointmentRegistrationDate
			, appointment_modification_date AS appointmentModificationDate
		FROM ilban_appointment, haksa_team, haksa_department, haksa_job_rank, haksa_job_type, haksa_job_group
		WHERE ilban_appointment.team_code = haksa_team.team_code 
		AND ilban_appointment.dept_code = haksa_department.dept_code 
		AND ilban_appointment.job_rank_code = haksa_job_rank.job_rank_code 
		AND ilban_appointment.job_type_code = haksa_job_type.job_type_code
		AND ilban_appointment.job_group_code = haksa_job_group.job_group_code
	</select>
	
	<!-- 정규직 리스트 조회 쿼리 -->
	<select id="personnelPermanentAppointmentList"
			resultType="com.cafe24.iumium.personnel.appoint.dto.PersonnelPermanentAppointment">
		SELECT 
			appointment_school_personnel_number AS appointmentSchoolPersonnelNumber
			, appointment_permanent_annual_income AS appointmentPermanentAnnualIncome
			, appointment_permanent_annual_income_division AS appointmentPermanentAnnualIncomeDivision
			, appointment_permanent_career_division AS appointmentPermanentCareerDivision
			, appointment_permanent_contract_start_term AS appointmentPermanentContractStartTerm
			, appointment_permanent_contract_end_term AS appointmentPermanentContractEndTerm
			, appointment_permanent_appointment_start_term AS appointmentPermanentAppointmentStartTerm
			, appointment_permanent_appointment_end_term AS appointmentPermanentAppointmentEndTerm
			, appointment_permanent_salaryclass AS appointmentPermanentSalaryclass
			, appointment_permanent_salaryclass_promotion AS appointmentPermanentSalaryclassPromotion
			, appointment_permanent_appoint_reason AS appointmentPermanentAppointReason
			, appointment_permanent_appoint_reason AS appointmentPermanentRegistrationDate
			, appointment_permanent_modification_date AS appointmentPermanentModificationDate
		FROM ilban_appointment_permanent
	</select> 
	
	<!-- 비정규직 리스트 조회 쿼리 -->
	<select id="personneltemporaryAppointmentList"
			resultType="com.cafe24.iumium.personnel.appoint.dto.PersonnelTemporaryAppointment">
	SELECT 
		appointment_school_personnel_number AS appointmentSchoolPersonnelNumber
		, appointment_temporary_career_division AS appointmentTemporaryCareerDivision
		, appointment_temporary_contract_start_term AS appointmentTemporaryContractStartTerm
		, appointment_temporary_contract_end_term AS appointmentTemporaryContractEndTerm
		, appointment_temporary_appointment_start_term AS appointmentTemporaryAppointmentStartTerm
		, appointment_temporary_appointment_end_term AS appointmentTemporaryAppointmentEndTerm
		, appointment_temporary_appoint_reason AS appointmentTemporaryAppointReason
		, appointment_temporary_registration_date AS appointmentTemporaryRegistrationDate
		, appointment_temporary_modification_date AS appointmentTemporaryModificationDate
	FROM ilban_appointment_temporary
	</select>
	
	<!-- 인사기본사항 리스트 조회 쿼리 -->
	<select id="personnelBasicList" resultType="com.cafe24.iumium.personnel.appoint.dto.PersonnelBasic">
		SELECT
				appointment_school_personnel_number as appointmentSchoolPersonnelNumber
				, personnel_basic_hire_division as personnelBasicHireDivision
				, personnel_basic_annual_income_division as personnelBasicAnnualIncomeDivision
				, personnel_basic_organization as personnelBasicOrganization
				, personnel_basic_years_month_day as personnelBasicYearsMonthDay
				, personnel_basic_reassign_check as personnelBasicReassignCheck
				, personnel_basic_other_official as personnel_basicOtherOfficial
				, personnel_basic_office_telephone_number as personnelBasicOfficeTelephoneNumber
				, personnel_basic_retirement_guarantee as personnelBasicRetirementGuarantee
				, personnel_basic_postposition as personnelBasicPostposition
				, personnel_basic_lunar_solar_division as personnelBasicLunarSolarDivision
				, personnel_basic_center_enter_day as personnelBasicCenterEnterDay
				, personnel_basic_registration_date as personnelBasicRegistrationDate
		FROM ilban_personnel_basic
	</select>
	
	<!-- 인사기본사항변동내역 리스트 조회 쿼리 -->
	<select id="personnelBasicChangeBreakdownList" resultType="com.cafe24.iumium.personnel.appoint.dto.PersonnelBasicChangeBreakdown">
		SELECT
				personnel_basic_change_breakdown_number as personnelBasicChangeBreakdownNumber
				, appointment_school_personnel_number as appointmentSchoolPersonnelNumber
				, personnel_basic_change_breakdown_hire_division as personnelBasicChangeBreakdownHireDivision
				, personnel_basic_change_breakdown_annual_income_division as personnelBasicChangeBreakdownAnnualIncomeDivision
				, personnel_basic_change_breakdown_organization as personnelBasicChangeBreakdownOrganization
				, personnel_basic_change_breakdown_years_month_day as personnelBasicChangeBreakdownYearsMonthDay
				, personnel_basic_change_breakdown_reassign_check as personnelBasicChangeBreakdownReassignCheck
				, personnel_basic_change_breakdown_other_official as personnelBasicChangeBreakdownOtherOfficial
				, personnel_basic_change_breakdown_office_telephone_number as personnelBasicChangeBreakdownOfficeTelephoneNumber
				, personnel_basic_change_breakdown_retirement_guarantee as personnelBasicChangeBreakdownRetirementGuarantee
				, personnel_basic_change_breakdown_postposition as personnelBasicChangeBreakdownPostposition
				, personnel_basic_change_breakdown_lunar_solar_division as personnelBasicChangeBreakdownLunarSolarDivision
				, personnel_basic_change_breakdown_center_enter_day as personnelBasicChangeBreakdownCenterEnterDay
				, personnel_basic_change_breakdown_registration_date as personnelBasicChangeBreakdownRegistrationDate
		FROM ilban_personnel_basic_change_breakdown
	</select>
	
	<!-- 기타임용 리스트 조회 쿼리 -->
	<select id="otherAppointmentList" resultType="com.cafe24.iumium.personnel.appoint.dto.OtherAppointment">
		SELECT
				appointment_school_personnel_number as appointmentSchoolPersonnelNumber
				, position_code as positionCode
				, other_appointment_annual_income as otherAppointmentAnnualIncome
				, other_appointment_career_division as otherAppointmentCareerDivision
				, other_appointment_contract_start_term as otherAppointmentContractStartTerm
				, other_appointment_contract_end_term as otherAppointmentContractEndTerm
				, other_appointment_position_team as otherAppointmentPositionTeam
				, other_appointment_salaryclass as otherAppointmentSalaryclass
				, other_appointment_salaryclass_promotion as otherAppointmentSalaryclassPromotion
				, other_appointment_registration_date as otherAppointmentRegistrationDate
				, other_appointment_modification_date as otherAppointmentModificationDate
		FROM ilban_other_appointment
	</select>
</mapper>